<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style_edit.css">
    <title>Edit Chain</title>
</head>
<body>
    <nav><button class="homeBtn"><a href="/chainreaction" style="text-decoration:none">Home</a></button></nav>
<main>
    <h1>"CH CH CH CHAIN-GES"</h1>
    <form action="/chainreaction/<%=chain._id%>?_method=PUT" method="POST">
        Name:<input type="text" class="name" name="name" value="<%=chain._name%>" /><br />
        Logo Image URL:<input class="logo" type="text" name="logo" value="<%=chain.logo%>" /><br />
        <input class="submit" type="submit" value="Submit Chain-ges" />
        <input class="reset" type="reset" />
    </form>

    <iframe width="400" height="250" src="https://www.youtube.com/embed/4BgF7Y3q-as" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe>
</main> 
</body>
</html>