<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style_index.css">
    <script src="/controllers/script.js" defer></script>
    <title>Chain Reaction</title>
</head>

<body>
    <h1><img src="https://cdn1.iconfinder.com/data/icons/ui-glynh-04-of-5/100/UI_Glyph_08-15-512.png" width="80px">
        Chain Reaction <img src="https://cdn1.iconfinder.com/data/icons/ui-glynh-04-of-5/100/UI_Glyph_08-15-512.png"
            width="80px"> </h1>

    <nav>
        <!-- <form action='/chainreaction?q=' id="searchBar" role="search">
            <input type="search" id="search" name="search" placeholder="Starbucks"
                aria-label="Check if a chain already exists">
            <button onclick="searchChain()" id="s">Search</button>
        </form> -->

        <div class="search-wrapper">
            <label class="search" for="search" style="font-size: 30px" >Search For Chain</label>
            <input type="search" id="search" data-search>
        </div>

        <button class="btn"><a href="/chainreaction/newchain" style="text-decoration:none">ADD NEW CHAIN</a></button>
    </nav>
    <ul class="allofthechains">
        <% chains.forEach(chain=> { %>
            <li>
                <a href="/chainreaction/<%=chain._id; %>">
                    <img src=<%=chain.logo %> width=230px height=230px>
                </a>
                <div class="buttons">
                    <button class="edit">
                        <a href="/chainreaction/<%=chain._id %>/edit" style="text-decoration:none">Edit</a>
                    </button>
                    <form id="delete" action="/chainreaction/<%=chain._id %>?_method=DELETE" method="POST">
                        <input class="delete" type="submit" value="Delete" />
                    </form>
                </div>
                <% }) %>
            </li>
    </ul>
</body>

<script>
    
// JavaScript code
function searchChain() {
    console.log(search)
}
</script>
</html>