<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chain Reaction</title>
</head>

<body>
    <nav>
        <!-- Login Here. Once Logged in, Add a restaurant -->
        <a href="/chainreaction/newchain">Add a Chain</a>
    </nav>
    <h1>Chain Reaction</h1>
    <!-- <h3> Catchy SubTitle </h3> -->
    <ul class="allofthechains">
        <% chains.forEach(chain => { %>
        <li>
            <a href="/chainreaction/:id">
            <img src=<%=chain.logo %>>
            </a>
        </li>
        <% }) %>
    </ul>
<!-- Click on logos to take you to the restaurant show page -->
</body>

</html>