<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chain Reaction</title>
</head>

<body>
    <nav>
        <!-- Login Here. Once Logged in, Add a restaurant -->
    </nav>
    <h1>Chain Reaction</h1>
    <!-- <h3> Catchy SubTitle </h3> -->
    <section>
<!-- Restaurant Logos Displayed here-->
<!-- Click on logos to take you to the restaurant show page -->
    </section>
</body>

</html>