<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chain React</title>
</head>
<body>
    <h1>Add A Chain</h1>
    <form action="/chainreaction" method="POST">
        Name: <input type="text" name="name" /><br />
        Logo Image URL: <input type="text" name="logo" /><br />
        Serves Breakfast: <input type="checkbox" name="breakfast" /><br />
        Serves Dessert: <input type="checkbox" name="dessert" /><br />
        Serves Drinks: <input type="checkbox" name="drinks" /><br />
        <input type="submit" value="Add Chain" />
    </form> 
</body>
</html>