
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

*{
    font-family: 'Source Code Pro', monospace;
}

nav {
    display:flex;
    justify-content: center;
    align-items:center;
}

.btn {
    font-size:25px;
    color:black;
    background: white;
    border-radius: 150px;
    font-weight: bold;
    text-decoration: none;
    margin: auto 100px;
    border-color: rgb(255, 0, 187);
    height: 130px;
    width: 130px;

}

#query {
    font-size:30px;
    color:black;
    background: white;
    border-radius: 50px;
    font-style: oblique;
    font-weight: bold;
    text-decoration: none;
    border-color: rgb(255, 0, 187);
}

#s {
    font-size:30px;
    color:white;
    background:  rgb(255, 0, 187);
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    border-color: white;
}

h1 {
    text-align: center;
    font-size: 100px;
    margin: 67px auto 5px;
}

li {
    width: 230px;
    padding: 25px;
    margin: 10px;
    display: inline-block;
}

.edit {
    font-size:15px;
    color:black;
    background: rgb(239,239,239);
    font-style: oblique;
    font-weight: bold;
    text-decoration: none;
    border-color: rgb(255, 0, 187)
}

.delete {
    font-size:15px;
    color:red;
    background: rgb(239,239,239);
    font-style: oblique;
    font-weight: bold;
    margin-left: 50x;
    border-color:  rgb(255, 0, 187);
}

.buttons {
    display: inline-flex;
}

body {
    background-color: pink;
}

