@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

*{
    font-family: 'Source Code Pro', monospace;
}

body {
    background-image: url('https://i.ytimg.com/vi/VWzMFfWl24I/maxresdefault.jpg');
    background-size: cover;
    color: white;
    display: inline-flex;
}

h1 {
    font-size: 70px;
    width: 600px;
    background-color: black;
    border-radius: 50px;
}

form {
    font-size: 35px;
    background-color: black;
    margin-top: 100px;
    height: 230px;
    border-radius: 50px;
}

textarea {
    width: 300px; 
    font-size: 25px; 
}

.order {
    font-size: 25px;
}

.submit {
    border-radius: 100px;
    font-weight: bold;
    height: 100px;
    width: 100px; 
    color: white;
    background-color: black;
    border-color: white;
}

.back {
    border-radius: 100px;
    font-weight: bold;
    height: 100px;
    width: 100px; 
    color: white;
    background-color: white;;
    border-color: black;
}

